@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!--<address>
    FLEX International<br />
    Tanquinho Velho, Jaguariuna - SP<br />
    <abbr title="Phone">Phone:</abbr>
    +55 (19) 99489-4675
</address>-->

<address>
    <strong>Support:</strong><a href="mailto:adriano.patricio@flex.com"> adriano.patricio@flex.com</a><br />
    <strong>Support:</strong><a href="mailto:rafael.ferreira@flex.com"> rafael.ferreira@flex.com</a><br />
</address>
