@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/flex.png" alt="FLEX" class="img-responsive" />
        </div>     
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Test Engineering Application uses</h2>
        <ul>
            <li>Test Capacity Control for all products</li>
        </ul>
    </div>  
</div>
