@model TestCapacityControl.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h2>Resume Details</h2>

<div>
    <h4>Product: @Html.DisplayFor(model => model.ProductName)</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>ME</h3>
            </th>
            <th>
                <h3>BE</h3>
            </th>
            <th>
                <h3>CFC</h3>
            </th>
            <th>
                <h3>PATS</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>IFLASH:<b> @Html.DisplayFor(model => model.Yield) %</b></h5>
                <h5>BRDTEST:<b> %</b></h5>
                <h5>BOARDTST:<b> %</b></h5>
                <h5>5GFR1BDTST:<b> %</b></h5>
            </td>
            <td>
                <h5>DEPTHCAL:<b> %</b></h5>
                <h5>DEPTHVAL:<b> %</b></h5>
                <h5>CAMERACAL:<b> %</b></h5>
                <h5>CAMERAVAL:<b> %</b></h5>
                <h5>JOT:<b> %</b></h5>
                <h5>L2 VISION:<b> %</b></h5>
                <h5>L2 AR:<b> %</b></h5>
                <h5>M2 CAMERA:<b> %</b></h5>
                <h5>M2 AR:<b> %</b></h5>
                <h5>JOT SLIM:<b> %</b></h5>
                <h5>L2 AR SLIM:<b> %</b></h5>
            </td>
            <td>
                <h5>CFC:<b> %</b></h5>
            </td>
            <td>
                <h5>PATS JOT:<b> %</b></h5>
                <h5>PATS M2:<b> %</b></h5>
                <h5>PATS SLIM:<b> %</b></h5>
            </td>
        </tr>

    </tbody>
</table>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>
