@model TestCapacityControl.Models.TestRatesCelular

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TestRatesCelular</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="product" class="control-label"></label>
                <input asp-for="product" class="form-control" />
                <span asp-validation-for="product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CFCUph" class="control-label"></label>
                <input asp-for="CFCUph" class="form-control" />
                <span asp-validation-for="CFCUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CFCNt" class="control-label"></label>
                <input asp-for="CFCNt" class="form-control" />
                <span asp-validation-for="CFCNt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatsJotUph" class="control-label"></label>
                <input asp-for="PatsJotUph" class="form-control" />
                <span asp-validation-for="PatsJotUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatsM2Uph" class="control-label"></label>
                <input asp-for="PatsM2Uph" class="form-control" />
                <span asp-validation-for="PatsM2Uph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JOTSlimUph" class="control-label"></label>
                <input asp-for="JOTSlimUph" class="form-control" />
                <span asp-validation-for="JOTSlimUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JOTSlimPsps" class="control-label"></label>
                <input asp-for="JOTSlimPsps" class="form-control" />
                <span asp-validation-for="JOTSlimPsps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JotSlimSpr" class="control-label"></label>
                <input asp-for="JotSlimSpr" class="form-control" />
                <span asp-validation-for="JotSlimSpr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JOTSlimTotalUph" class="control-label"></label>
                <input asp-for="JOTSlimTotalUph" class="form-control" />
                <span asp-validation-for="JOTSlimTotalUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JOTSlimNt" class="control-label"></label>
                <input asp-for="JOTSlimNt" class="form-control" />
                <span asp-validation-for="JOTSlimNt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L2ArSlimUph" class="control-label"></label>
                <input asp-for="L2ArSlimUph" class="form-control" />
                <span asp-validation-for="L2ArSlimUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L2ArSlimFxt" class="control-label"></label>
                <input asp-for="L2ArSlimFxt" class="form-control" />
                <span asp-validation-for="L2ArSlimFxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L2ArSlimSpr" class="control-label"></label>
                <input asp-for="L2ArSlimSpr" class="form-control" />
                <span asp-validation-for="L2ArSlimSpr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L2ArSlimTotalUph" class="control-label"></label>
                <input asp-for="L2ArSlimTotalUph" class="form-control" />
                <span asp-validation-for="L2ArSlimTotalUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L2ArSlimNt" class="control-label"></label>
                <input asp-for="L2ArSlimNt" class="form-control" />
                <span asp-validation-for="L2ArSlimNt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PATSSlimUph" class="control-label"></label>
                <input asp-for="PATSSlimUph" class="form-control" />
                <span asp-validation-for="PATSSlimUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMVALSlimUph" class="control-label"></label>
                <input asp-for="CAMVALSlimUph" class="form-control" />
                <span asp-validation-for="CAMVALSlimUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMVALSlimFxt" class="control-label"></label>
                <input asp-for="CAMVALSlimFxt" class="form-control" />
                <span asp-validation-for="CAMVALSlimFxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMVALSlimSpr" class="control-label"></label>
                <input asp-for="CAMVALSlimSpr" class="form-control" />
                <span asp-validation-for="CAMVALSlimSpr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMVALSlimTotalUph" class="control-label"></label>
                <input asp-for="CAMVALSlimTotalUph" class="form-control" />
                <span asp-validation-for="CAMVALSlimTotalUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMVALSlimNt" class="control-label"></label>
                <input asp-for="CAMVALSlimNt" class="form-control" />
                <span asp-validation-for="CAMVALSlimNt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMCALSlimUph" class="control-label"></label>
                <input asp-for="CAMCALSlimUph" class="form-control" />
                <span asp-validation-for="CAMCALSlimUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMCALSlimFxt" class="control-label"></label>
                <input asp-for="CAMCALSlimFxt" class="form-control" />
                <span asp-validation-for="CAMCALSlimFxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMCALSlimSpr" class="control-label"></label>
                <input asp-for="CAMCALSlimSpr" class="form-control" />
                <span asp-validation-for="CAMCALSlimSpr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMCALSlimTotalUph" class="control-label"></label>
                <input asp-for="CAMCALSlimTotalUph" class="form-control" />
                <span asp-validation-for="CAMCALSlimTotalUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAMCALSlimNt" class="control-label"></label>
                <input asp-for="CAMCALSlimNt" class="form-control" />
                <span asp-validation-for="CAMCALSlimNt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FODSlimUph" class="control-label"></label>
                <input asp-for="FODSlimUph" class="form-control" />
                <span asp-validation-for="FODSlimUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FODSlimFxt" class="control-label"></label>
                <input asp-for="FODSlimFxt" class="form-control" />
                <span asp-validation-for="FODSlimFxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FODSlimSpr" class="control-label"></label>
                <input asp-for="FODSlimSpr" class="form-control" />
                <span asp-validation-for="FODSlimSpr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FODSlimTotalUph" class="control-label"></label>
                <input asp-for="FODSlimTotalUph" class="form-control" />
                <span asp-validation-for="FODSlimTotalUph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FODSlimNt" class="control-label"></label>
                <input asp-for="FODSlimNt" class="form-control" />
                <span asp-validation-for="FODSlimNt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
